
.work  {
    position: relative;
}
.ventana__emergente {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */

}

.ventana__contenido {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid;
    border-radius: 20px;
    width: 500px; /* Could be more or less, depending on screen size */
    height: 500px;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.ventana__contenido h2 {
    margin-bottom: 20px;
    text-align: center;
    color: var(--first-color);
}

.ventana__contenido span {
    color: var(--first-color);
}

.ventana__contenido a {
    font-size: 20px;
}

.close {
    padding: 10px;
    cursor: pointer;
}

.close img {
    width: 25px;
    height: 25px;
}

/** AGREGANDO ANIMACIÓN **/
@keyframes animatetop {
    from {top:-300px; opacity: 0}
    to {top:0; opacity: 1}
}





